@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    padding: 0;
    margin: 0;
    color: #fff;
}

.page {
    margin: 20px 80px;
}

html {
    scroll-behavior: smooth;
}

/* nav */
nav {
    display: flex;
    flex-wrap: wrap;
    top:0;
    justify-content: space-between;  
    background-color: black;
    padding: 10px 0px;
    z-index: 1;
}

.anim-nav {
  position: sticky;
  background-color: black;
}

.onglets {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.onglets a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.meContacter {
  padding: 13px 20px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  outline:none;
  background-color: #f54266;
  margin-right: 10px;
  color: white;
}
/* fin nav*/

/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto /* Enable scroll if needed */
}


.modal-content {
  background-color: #1a1a1a;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #1a1a1a;
  width: 30%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #f54266;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h1 {
  display: flex;
  margin-left: 90px;
  color : #f54266;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social {
  margin-left: 20px;
}

.social i {
  font-size: 20px;
  margin: 2px;
  margin-top: -50px;
}

.social a {
  text-decoration: none;
  color: white;
}


.inputs {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 90%;
} 

form .inputs input {
  padding: 10px;
  border-radius: 5px;
  border : none;
  background-color: white;
  margin-top: 15px;
  outline: none;
}

textarea {
  margin-top: 15px;
  outline: none;
  resize: none;
  height: 80px;
  border-radius: 5px;
}

.envoyer {
  margin-top: 10px;
  background-color: #f54266;
  cursor: pointer;
  font-size: 20px;
  color: #aaa;
  border:none;
  border-radius: 5px;
  padding: 10px 20px;
}
/* fin modal*/

/* header */

header {
    margin-top: 40px;
    background: url('asset/header1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px 500px;

}

header h1 {
    text-align: center;
    font-size: 50px;
    padding: 150px;
}
/* fin header */

/* materiel */

.objectifs {
    font-size: 1.4em;
}

.materiel {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nikon img, .canon img {
    width: 100%;
}

.nikon {
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
    text-align: center;
  }
  .nikon .fadedbox {
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 360px;
    height: 100px;
    padding: 130px 20px;
  }
  .nikon:hover .fadedbox {
    opacity: 0.8;
  }
  .nikon .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
  }
  .nikon .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
  }
  .nikon:hover .title,
  .nikon:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }

  .canon {
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
    text-align: center;
  }
  .canon .fadedbox2 {
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 360px;
    height: 100px;
    padding: 130px 20px;
  }
  .canon:hover .fadedbox2 {
    opacity: 0.8;
  }
  .canon .text2 {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
  }
  .canon .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
  }
  .canon:hover .title,
  .canon:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }

/* fin materiel */

/* créations */ 

.creations {
  display: flex;
}

.container1, .container2, .container3{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container1 img, .container2 img, .container3 img {
  width: 30%;
}
/* fin créations */

/* footer */
footer {
    padding: 25px 40px;
    background-color: #1a1a1a;
    color: #828282;
}

.colonnes {
    display: flex;
    flex-wrap: wrap;
}

.colonne {
    display: flex;
    flex-direction: row;
}

.colonne p {
    margin-right: 30px;
}

/* fin footer */